#siteorigin-widgets-bundle {
	position: relative;
	
	margin: 25px -15px 0 -15px;
	zoom: 1;
}

#siteorigin-widgets-bundle:before {
	content: '';
	display: block;
}

#siteorigin-widgets-bundle:after {
	clear: both;
	content: '';
	display: table;
}

#siteorigin-widgets-bundle .so-widget-wrap {
	width: 33%;
	
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 15px 30px 15px;
}

#siteorigin-widgets-bundle .so-widget-wrap:nth-of-type( 3n + 1 ) {
	clear: both;
}

#siteorigin-widgets-bundle .so-widget {
	position: relative;
	width: 100%;
	
	background: #F2F2F2;
	border: 1px solid #D9D9D9;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	float: left;
	overflow: hidden;
	padding: 0;
}

#siteorigin-widgets-bundle .so-widget .so-widgets-active-banner {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	
	background: #555555;
	background: rgba(0, 0, 0, 0.75);
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
	padding: 12px;
	text-align: center;
}

#siteorigin-widgets-bundle .so-widget img {
	width: 100%;
	height: auto;
	
	background: #FFFFFF;
	display: block;
	margin: 0 auto;
	max-height: 140px;
	opacity: 0.5;
}

#siteorigin-widgets-bundle .so-widget .so-widget-text {
	border-top: 1px solid #D9D9D9;
	padding: 20px;
}

#siteorigin-widgets-bundle .so-widget .so-widget-text h4 {
	color: #777777;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0;
}

#siteorigin-widgets-bundle .so-widget .so-widget-text p {
	color: #777777;
	line-height: 1.35em;
	margin-bottom: 0;
	overflow: hidden;
}

#siteorigin-widgets-bundle .so-widget .so-widget-action-link {
	background: #666666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	display: inline-block;
	float: right;
	font-size: 11px;
	margin-top: -4px;
	opacity: 0.8;
	padding: 3px 6px;
	text-decoration: none;
}

#siteorigin-widgets-bundle .so-widget .so-widget-action-link:hover {
	opacity: 1;
}

#siteorigin-widgets-bundle .so-widget .so-widget-action-link.so-widget-action-deactivate {
	background: #d54e21;
}

#siteorigin-widgets-bundle .so-widget .so-widget-action-link.so-widget-action-activate {
	background: #0074a2;
}

#siteorigin-widgets-bundle .so-widget.so-widget-is-active {
	background: #F9F9F9;
	border: 1px solid #C9C9C9;
}

#siteorigin-widgets-bundle .so-widget.so-widget-is-active img {
	opacity: 1;
}

#siteorigin-widgets-bundle .so-widget.so-widget-is-active .so-widget-text {
	border-top: 1px solid #D9D9D9;
}

#siteorigin-widgets-bundle .so-widget.so-widget-is-active .so-widget-text h4 {
	color: #333333;
}

#siteorigin-widgets-bundle .so-widget.so-widget-is-active .so-widget-text p {
	color: #333333;
}

