@font-face{
font-family:'sow-typicons';
src:url('font/typicons.eot?map0iz');
src:url('font/typicons.eot?#iefixmap0iz') format('embedded-opentype'), url('font/typicons.woff?map0iz') format('woff'), url('font/typicons.ttf?map0iz') format('truetype');
font-weight:normal;
font-style:normal;
}
.sow-icon-typicons {
	display: inline-block;
	font-family: 'sow-typicons';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sow-icon-typicons[data-sow-icon]:before {
	content: attr(data-sow-icon);
}

